body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/** HEADER **/

/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    width: 100%;
}

.navbar-brand {
   padding-top: 25px;
}
  
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
   text-decoration: none;
}

#nav-list {
   margin-top: 10px;
}
#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.8em;
}  
 
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
   border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
   clear: both;
   margin-top: -30px;
}
/* END HEADER */

/*HOME PAGE */
.container {
    text-align: center;
    width: 100%;
    margin:40px;
}

.menu-title{
  background-color: #f6b319;
  text-align: left;
  margin: 15px;
  padding: 10px;
}

#chicken, #beef, #sushi{
  font-size: 1.2em;
  text-align: center;
  color: #222;
  padding-top: 5px;
  font-weight: bold;
}

#menu-title {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 40px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}
#home-title{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

#menu-title:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
  
/********** Large devices only **********/
@media (min-width: 1200px) {
    .container{
        width: 100%;
        height: 60px;
    }

}
  
 /********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: 90%;
        height: 60px;
    }
}
  
  /********** Small devices only **********/
 @media (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 85%;
        height: 60px;
    }
}
  
/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
      padding-top: 10px;
      height: 80px;
    }
    .navbar-brand h1 { /* Restaurant name */
      padding-top: 10px;
      font-size: 5vw; /* 1vw = 1% of viewport width */
    }
          
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
  
    #call-btn > a {
      font-size: 1.5em;
      display: block;
      margin: 0 20px;
      padding: 10px;
      border: 2px solid #fff;
      background-color: #f6b319;
      color: #951c49;
    }
    #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    /* End Header */
  
        
    /*HOME PAGE */
    .container {
      margin-top: 30px;
      padding: 0;
    }
  
    #menu-title {
      width: 100%;
      margin:0 auto 15px;
    }
    
}
